<div class="py-8 bg-orange-100 border-t-4 border-gray-900 mt-12">
    <div class="lg:grid lg:grid-cols-4">
        <div class="hidden lg:block"></div>
        <div class="lg:col-span-2 p-3 lg:p-0 font-mono text-sm">
            Link to GitHub repository: 
            <a href="https://github.com/jimhoekstra/ping-pong-pals" class="underline text-sky-600">
                https://github.com/jimhoekstra/ping-pong-pals
            </a>
        </div>
        <div class="hidden lg:block"></div>
    </div>
</div>