{% extends "scoreboard/base.html" %}

{% block content %}

<div class="flex justify-between items-start mb-5">
    <h1 class="text-4xl">leagues</h1>
    <a href="{% url 'new-league-page' %}" class="block py-4 px-6 bg-red-500 rounded-full text-white cursor-pointer
        text-3xl">+</a>
</div>

<div>

    {% for league_info in all_leagues %}
        <div class="mb-5 rounded bg-blue-100 p-5">

            <h2 class="text-3xl font-bold">{{ league_info.league.name }}</h2>
            <p class="p-5 border my-5 border-slate-400 rounded bg-slate-100 border-dashed">
                {% if league_info.league.description == '' %}
                    <span class="text-slate-700">[no description]</span>
                {% else %}
                    {{ league_info.league.description }}
                {% endif %}
            </p>

            <table class="my-5">
                <tbody>
                    <tr>
                        <td class="px-3">number of players:</td>
                        <td class="px-3">{{ league_info.n_participants }}</td>
                    </tr>
                    <tr>
                        <td class="px-3">number of games:</td>
                        <td class="px-3">{{ league_info.n_games }}</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="flex">
                {% if league_info.league == active_league %}
                    <div class="select-none px-4 py-3 rounded bg-blue-300 mr-2">
                        active
                    </div>
                {% else %}
                    <form action="{% url 'activate-league' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="activate-league-id" value="{{ league_info.league.pk }}">
                        <input type="submit" value="activate" class="px-4 py-3 rounded bg-red-500 text-white mr-2
                            cursor-pointer">
                    </form>
                {% endif %}

                <a href="/" class="block px-4 py-3 rounded bg-red-500 text-white mr-2">request to join</a>
                {% if league_info.league.owner == active_user.player %}
                    <a href="/" class="block px-4 py-3 rounded bg-red-500 text-white mr-2">manage</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}  