<nav class="font-mono flex p-6 mb-10 border-b-4 border-gray-900 bg-red-500 text-white lg:text-xl justify-center">
    <a href="{% url 'home' %}" class="mx-2 lg:mx-6">🏡 home</a>
    <a href="{% url 'games' %}" class="mx-2 lg:mx-6">🏓 games</a>
    <a href="{% url 'players' %}" class="mx-2 lg:mx-6">🙋‍♀️ players</a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout-user' %}" class="mx-2 lg:mx-6">😎 logout</a>
    {% else %}
        <a href="{% url 'login-page' %}" class="mx-2 lg:mx-6">📝 login</a>
    {% endif %}
</nav>