{% extends "scoreboard/base.html" %}

{% block content %}

<div>
    <div class="flex justify-between items-start">
        <div class="mb-5">
            <h1 class="text-4xl text-red-900">Leaderboard</h1>
            <p class="my-3">
                Current league: {{ current_league.name }} 
                (<a href="{% url 'leagues' %}" class="underline text-sky-600">change</a>)
            </p>
        </div>
    </div>

    <table class="table-auto mt-5 mb-10 w-full">
        <thead>
            <tr class="text-left lg:text-xl">
                <th class="p-5 rounded-l-lg bg-blue-200">#</th>
                <th class="p-5 bg-blue-200">name</th>
                <th class="p-5 bg-blue-200">elo</th>
                <th class="p-5 rounded-r-lg bg-blue-200">#games</th>
            </tr>
        </thead>
        <tbody>
            {% for player in rated_players %}
                <tr>
                    <td class="py-2 px-5">{{ forloop.counter }}</td>
                    <td class="py-2 px-5"><a
                        class="underline text-sky-600" href="{% url 'player' current_league.slug player.name %}">{{ player.name }}</a></td>
                    <td class="py-2 px-5">{{ player.current_elo }}</td>
                    <td class="py-2 px-5">{{ player.num_games }}</td>
                </tr>
            {% endfor %}
            {% for player in unrated_players %}
                <tr>
                    <td class="py-2 px-5">--</td>
                    <td class="py-2 px-5"><a
                        class="underline text-sky-600" href="{% url 'player' current_league.slug player.name %}">{{ player.name }}</a></td>
                    <td class="py-2 px-5">--</td>
                    <td class="py-2 px-5">{{ player.num_games }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        Note: you need to play at least three games in other to get a rating.
    </p>
    

</div>

{% endblock %}