{% extends "scoreboard/base.html" %}

{% block content %}

<div>
    <h1 class="text-3xl mb-5">Leaderboard</h1>
    <table class="table-auto my-3 w-full">
        <thead>
            <tr class="text-left border-b-2 border-slate-500 lg:text-xl">
                <th class="p-3">#</th>
                <th class="p-3">name</th>
                <th class="p-3">elo</th>
                <th class="p-3">#games</th>
            </tr>
        </thead>
        <tbody>
            {% for player in all_players %}
                <tr>
                    <td class="py-2 px-3">{{ forloop.counter }}</td>
                    <td class="py-2 px-3"><a
                        class="underline text-sky-600" href="{% url 'player' player.name %}">{{ player.name }}</a></td>
                    <td class="py-2 px-3">{{ player.current_elo }}</td>
                    <td class="py-2 px-3">{{ player.num_games }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}