{% extends "scoreboard/generic/base.html" %}

{% block content %}

<div class="w-full">
    <div class="w-full flex justify-between items-start">
        <div class="mb-5">
            <h1 class="text-4xl text-red-900">Leaderboard</h1>
            <p class="my-3">
                Your current league: {{ current_league.name }} 
                (<a href="{% url 'leagues' %}" class="underline text-sky-600">change</a>)
            </p>
        </div>
    </div>

    {% include "scoreboard/players/leaderboard.html" %}

    <p>
        Note: you need to play at least three games in other to get an Elo rating.
    </p>   

</div>

{% endblock %}