{% extends "scoreboard/generic/base.html" %}

{% block content %}

<div>
    <h1 class="text-4xl mb-2 text-red-900">{{ player_obj.name }}</h1>

    <div class="flex flex-wrap justify-around my-8">
        <div class="border p-10 bg-blue-200 rounded-full m-3 text-center" style="min-width: 190px;">
            <p class="text-5xl text-red-900">{{ player_obj.current_elo }}</p>
            <p class="text-lg text-slate-700">current</p>
            <p class="text-lg text-slate-700">elo rating</p>
        </div>
        
        <div class="border p-10 bg-blue-200 rounded-full m-3 text-center" style="min-width: 190px;">
            <p class="text-5xl text-red-900">{{ win_percentage }}</p>
            <p class="text-lg text-slate-700">of games</p>
            <p class="text-lg text-slate-700">won</p>
        </div>
        
        <div class="border p-10 bg-blue-200 rounded-full m-3 text-center" style="min-width: 190px;">
            <p class="text-5xl text-red-900">{{ total_games }}</p>
            <p class="text-lg text-slate-700">game{% if total_games != 1 %}s{% endif %}</p>
            <p class="text-lg text-slate-700">played</p>
        </div>

    </div>

    <h2 class="text-3xl mb-2 text-red-900">Recent Games</h2>
    {% include "scoreboard/players/games_for_player.html" %}

</div>

{% endblock %}