{% extends "scoreboard/generic/base.html" %}

{% block content %}

{% if next_page %}

<p class="mb-5">To visit the "{{ next_page }}" page, you first need to log in or create an account:</p>

{% endif %}

<div class="p-4 rounded bg-blue-100 mb-6">
    <h2 class="text-4xl mb-5 text-red-900">Log In</h2>
    <form action="{% url 'login-user' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" class="w-full p-3 outline-offset-0 rounded my-2 
            outline-none focus:outline-4 focus:outline-blue-600">
        <input type="password" name="password" placeholder="password" class="w-full p-3 outline-offset-0 rounded my-2
            outline-none focus:outline-4 focus:outline-blue-600">
        {% if next_page %}
        <input type="hidden" name="next-page" value="{{ next_page }}">
        {% endif %}
        <input type="submit" value="submit" class="p-3 w-full bg-red-500 rounded text-white my-2 cursor-pointer
            ">
    </form>

    <p class="my-6">
        <a href="{% url 'new-account-page' %}" class="underline text-sky-600">or, create a new account.</a>
    </p>
</div>

{% endblock %}