{% extends "scoreboard/generic/base.html" %}

{% block content %}

<div class="p-4 rounded bg-blue-100 mb-6">
    <h2 class="text-4xl mb-5 text-red-900">Create Account</h2>

    <form action="{% url 'create-account' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="login name" class="w-full p-3 outline-offset-0 rounded my-2 
            outline-none focus:outline-4 focus:outline-blue-600">
        <input type="password" name="password" placeholder="password" class="w-full p-3 outline-offset-0 rounded my-2
            outline-none focus:outline-4 focus:outline-blue-600">
        <input type="password" name="repeat-password" placeholder="repeat password" class="w-full p-3 outline-offset-0 rounded my-2
            outline-none focus:outline-4 focus:outline-blue-600">
        {% if sign_up_key %}
            <input type="hidden" name="signup-key" value="{{ sign_up_key }}">
        {% else %}
            <input type="text" name="signup-key" placeholder="signup key" class="w-full p-3 outline-offset-0 rounded my-2 
                outline-none focus:outline-4 focus:outline-blue-600">
        {% endif %}
        <input type="submit" value="Submit" class="p-3 w-full bg-red-500 rounded text-white my-2 cursor-pointer
            ">
    </form>

    <p class="my-6">
        <a href="{% url 'login-page' %}" class="underline text-sky-600">or, login with an existing account.</a>
    </p>
</div>

{% endblock %}