{% extends "scoreboard/base.html" %}

{% block content %}

<h1 class="text-4xl mb-8">welcome, {{ player_name }}</h1>


<div class="mb-5 flex p-3 bg-blue-100 rounded-md">
    <h2 class="text-xl grow">logout in this browser</h2>
    <a href="{% url 'logout-user' %}" class="block bg-red-500 text-white py-4 px-3 rounded-md shadow">logout</a>
</div>

<div class="mb-5 p-3 bg-blue-100 rounded-md">
    <h2 class="text-xl">change your profile name</h2>
    <p class="text-sm mb-3">
        this changes the name can be seen by other players, it does not change your login name.
    </p>

    <form action="{% url 'update-profile-name' %}" method="post">
        {% csrf_token %}
        <div class="flex">
            <input type="text" class="w-full p-3 outline-offset-0 outline-none border-4 border-blue-100 rounded-md
                focus:border-blue-600" placeholder="new profile name" name="new-profile-name" value="{{ player_name }}">
            <input type="submit" class="bg-red-500 text-white p-3 rounded-md ml-3 shadow cursor-pointer" value="submit">
        </div>
    </form>
</div>

<div class="mb-5 p-3 bg-blue-100 rounded-md">
    <h2 class="text-xl mb-3">change your password</h2>

    <form action="{% url 'update-password' %}" method="post">
        {% csrf_token %}
        <div>
            <input type="password" class="w-full p-3 outline-offset-0 outline-none border-4 border-blue-100 rounded-md
                focus:border-blue-600" placeholder="old password" name="old-password">
            <input type="password" class="w-full p-3 outline-offset-0 outline-none border-4 border-blue-100 rounded-md
                focus:border-blue-600" placeholder="new password" name="new-password">
            <input type="password" class="w-full p-3 outline-offset-0 outline-none border-4 border-blue-100 rounded-md
                focus:border-blue-600" placeholder="repeat new password" name="repeat-new-password">
            <div class="flex">
                <div class="grow"></div>
                <input type="submit" class="bg-red-500 text-white px-3 py-4 rounded-md shadow cursor-pointer" value="submit">
            </div>
        </div>
    </form>
</div>




{% endblock %}