{% extends "scoreboard/generic/base.html" %}

{% block content %}

<div class="grid grid-cols-1 md:grid-cols-2 mt-8 justify-items-center md:text-lg">
    {% load static %}
    <img src="{% static 'scoreboard/PingPong.png' %}" class="hidden md:block self-center px-10">
    <div>
        <h1 class="text-4xl md:text-5xl mb-10 text-red-900">Ping Pong Pals</h1>

        <p class="mt-8">
            Welcome to ping pong pals! Enjoy your daily serve of friendly competition.
        </p>
        <p class="mt-5">
            This website is a free and open source project for encouraging friendly competition between ping pong
            players of all levels.
        </p>
    </div>
</div>

{% if user_is_authenticated %}
<div class="flex flex-wrap justify-around my-16">
    <div class="border p-10 bg-blue-200 rounded-full m-3 text-center" style="min-width: 190px;">
        <p class="text-5xl text-red-900">{{ total_number_of_games }}</p>
        <p class="text-lg text-slate-700">game{% if total_number_of_games != 1 %}s{% endif %}</p>
        <p class="text-lg text-slate-700">played</p>
    </div>
    <div class="border p-10 bg-blue-200 rounded-full m-3 text-center" style="min-width: 190px;">
        <p class="text-5xl text-red-900">{{ number_of_games_this_month }}</p>
        <p class="text-lg text-slate-700">game{% if number_of_games_this_month != 1 %}s{% endif %} this</p>
        <p class="text-lg text-slate-700">month</p>
    </div>
    <div class="border p-10 bg-blue-200 rounded-full m-3 text-center" style="min-width: 190px;">
        <p class="text-5xl text-red-900">{{ total_number_of_players }}</p>
        <p class="text-lg text-slate-700">player{% if total_number_of_players != 1 %}s{% endif %}</p>
        <p class="text-lg text-slate-700">registered</p>
    </div>
</div>
{% else %}
<div class="flex flex-wrap justify-around my-16">
    <div>
        <div class="border p-10 bg-blue-200 rounded-full m-3 text-center" style="min-width: 190px;">
            <p class="text-5xl text-red-900">>100</p>
            <p class="text-lg text-slate-700">game{% if total_number_of_games != 1 %}s{% endif %}</p>
            <p class="text-lg text-slate-700">played</p>
        </div>
    </div>
    <div class="border p-10 bg-blue-200 rounded-full m-3 text-center" style="min-width: 190px;">
        <p class="text-5xl text-red-900">>10</p>
        <p class="text-lg text-slate-700">player{% if total_number_of_players != 1 %}s{% endif %}</p>
        <p class="text-lg text-slate-700">registered</p>
    </div>
</div>

{% endif %}

<h2 class="text-3xl md:text-4xl mt-8 mb-4 text-red-900">Why use ping pong pals?</h2>

<div class="flex flex-col md:flex-row md:text-lg">
    <div class="grow">
        <p class="mt-8">
            🏅 What's the score? Who's the champion? Never again lose yourself in these endless discussions.
            Instead, look at the data and find out the truth.
        </p>
        
        <p class="mt-8">
            🚀 Track your progress and see how you get better. Learn from your experiences
            and set new goals.
        </p>
        
        <p class="mt-8 mb-16">
            🙌 Share your results and celebrate successes together!
        </p>
    </div>
    
    {% include "scoreboard/home/pingpong-animation.html" %}
    
</div>

{% endblock %}