{% extends "scoreboard/generic/base.html" %}

{% block content %}

<div class="flex justify-between items-start">
    <div class="mb-5">
        <h1 class="text-4xl text-red-900">Recent Games</h1>
        <p class="my-3">
            Your current league: {{ current_league.name }} 
            (<a href="{% url 'leagues' %}" class="underline text-sky-600">change</a>)
        </p>
    </div>
    <a href="{% url 'add-game' current_league.slug %}" class="block py-4 px-6 bg-red-500 rounded-full 
        text-white cursor-pointer text-3xl">+</a>
</div>

{% include "scoreboard/games/games_table.html" %}

{% endblock %}